# Application
APP_NAME="Todo API"
APP_ENV="development"
DEBUG=True
API_V1_STR="/api/v1"

# Database
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="todo_db"

# JWT
JWT_SECRET_KEY="supersecret"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60